@media all and (max-width: 1200px) {
  .headerLogo {
    width: 30%;
  }
}

@media all and (max-width: 1064px) {
  .headerListItem {
    padding: 0px;
  }
  .headerLogo {
    width: 50%;
  }
  .headerContainer {
    width: 90%;
  }
}

@media all and (min-width: 993px) {
  .burgerIconBlock {
    display: none;
  }
  .sidebarWrapper {
    display: none;
  }
}
@media all and (max-width: 993px) {
  .headerList {
    display: none;
  }
  /* .social-icon-block{
    display: none;
  } */
}
/* @media all and (max-width: 550px) {
  .logo {
    width: 150px;
  }
} */

@media all and (max-width: 993px) {
  .navBlock {
    flex: none;
  }
  .sticky-header {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .social-icon-block {
    display: none;
  }
  .headerLogo {
    width: 100%;
    margin-bottom: 8px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
  }
  .navBlock {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid hsla(0, 0%, 100%, 0.4);
  }
  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .site-header {
    height: 160px;
    background-color: #333;
  }
  .burgerIconBlock {
    margin-top: 8px;
  }
  .burgerIconBlock img {
    width: 25px;
  }
  .footerContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-footer-bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-socialIconBlock {
    padding-bottom: 30px;
  }
  .activeSidebar {
    width: 100%;
  }
}
