.headerContainer {
  /* width: 100%; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogo {
  /* width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px; */
  min-height: 105px;
  flex-basis: auto;
  flex: 1;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.navBlock {
  flex: 1;
  flex-basis: auto;
  min-height: 105px;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  text-transform: uppercase;
  /* width: 60%; */
  color: #fff;
  position: relative;
}
.headerListItem {
  list-style: none;
  margin: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  padding: 0px 8px;
}

.headerListItem a {
  font-family: Helvetica, Arial, sans-serif;
}

.stickyHeaderListItem {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  padding: 0px 8px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem {
  text-decoration: none;
  color: #fff;
}
.active {
  background-color: #cd2121;
  color: #fff;
  border-radius: 2px;
  padding: 6px 8px;
  transition: 0.3s ease-in-out;
}
.headerListItem:hover {
  background-color: #cd2121;
  color: #fff;
  padding: 6px 8px;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}
.dash {
  position: absolute;
  height: 1px;
  width: 7px;
  background-color: hsla(0, 0%, 100%, 0.4);
  bottom: calc(50% - 12px);
  left: 20px;
  opacity: 1;
}
.stickyDash {
  position: absolute;
  height: 2px;
  width: 7px;
  background-color: hsla(0, 0%, 100%, 0.4);
  bottom: calc(50% - 0px);
  right: 4px;
  opacity: 1;
}
.burgerIconBlock {
  width: 20%;
}

.burgerIcon {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.8;
  margin: 4px 0;
}

.site-header {
  height: 105px;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.siteheader-container {
  width: 100%;
  position: relative;
}

.social-icon-block {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-item-block {
  height: 46px;
}

.social-icon-item {
  color: #fff;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 3px;
  text-align: center;
  transition: all 0.2s ease-out;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  float: right;
  background-color: #111;
  margin-right: 12px;
  display: flex;
  justify-content: center;
}

.social-icon-item:hover {
  background-color: #afafaf;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  /* padding: 10px 0; */
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  animation: slide 1s;
  height: 30px;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
