.sidebarWrapper {
  height: 100%;
  background-color: #fff;
  position: fixed;
  right: 0;
  box-shadow: #6363634d 0px 2px 12px 0px;
  transition: 0.5s;
  z-index: 1;
  top: 0;
}
.activeSidebar {
  width: 25rem;
}
.inActiveSidebar {
  width: 0;
}

.sidebarBackBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #72727280;
}
.sidebarBackBtnIcon {
  width: 70px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #72727280;
}
.sidebarBack {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarBackh4 {
  font-size: 16px;
  color: #00000073;
}
.sideListContent {
  list-style: none;
  padding: 14px 30px;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 1px solid #72727280;
  color: #00000073;
  width: 90%;
}
.sideListContent:hover {
  color: #000000d9;
  background-color: rgba(0, 0, 0, 0.05);
}
.sideListContentBlock {
  display: flex;
  width: 100%;
  align-items: center;
}
.sidebarBtnIcon {
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #72727280;
  border-bottom: 1px solid #72727280;
}
.SidebarMenuListItem {
  text-decoration: none;
  color: #000000d9;
}
