.footerContainer {
  background-color: #2f2f2f;
  padding: 60px 0 20px;
  border-top: 4px solid #fff;
  color: #d5d5d5;
}
.footerContent {
  margin-right: auto;
  margin-left: auto;
}
.footer-col-block {
  margin-bottom: 30px;
}
.footer-col {
  font-size: 14px;
  color: #fff;
  margin: 0 0 10px;
  padding-bottom: 0;
  font-weight: 400;
}
.footer-menu {
  list-style: none;
  margin-bottom: 4px;
}
.site-footer-bottom {
  padding-top: 30px;
  border-top: 5px solid #484848;
  color: #8b8c8d;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-copyRight-text {
  font-size: 13px;
  line-height: 19px;
  margin: 0 0 20px;
}
.footer-socialIconBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-menu-a {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
