* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.App {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  z-index: 0;
  background-color: #ffffff;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
}

.main-container {
  padding-top: 105px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
